@import "../../../styles/mixins.scss";
.textTareaInfo {
  position: relative;
  height: 200px;

  @include media-xl() {
    height: 150px;
  }
  label {
    position: absolute;
    top: 5px;
    left: 10px;
    font-weight: 300;
    font-size: 12px;
    color: #888888;
  }

  textarea {
    width: 100%;
    padding-left: 10px;
    padding-top: 21px;
    font-weight: 400;
    font-size: 15px;
    color: #002e39;
    background-color: rgba(36, 84, 255, 0.063);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(36, 84, 255, 0.082);
    border-radius: 7px;
    height: 100%;
    resize: none;
  }
}
