.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 60px);
  height: calc(100vh - 60px);
  position: relative;
  margin-left: 60px;
  margin-top: 60px;
}
