@import "../../../styles/mixins.scss";
.message {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  color: #002e39;
  h2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  @include media-xl() {
    width: 100%;
    text-align: center;
  }
}
