.inputRadio {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 5px;
  input {
    display: none;

    &:checked + label {
      background-color: #002e39;
      color: white;
    }
  }

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 7px;
    padding: 5px;
    color: #002e39;
    background-color: white;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

    transition: transform 0.3s linear;

    &:active {
      transform: scale(0.9);
    }
  }
}
