@import "../../../styles/mixins.scss";

.pdfViewer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border: 1px solid #cccccc;
  
  @include media-xl() {
  }

  &:hover {
    .controls {
      transition: 0.3s all;
      opacity: 1;
    }
  }
}
.controls {
  width: 50%;
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 3;

  h5 {
    color: black;
    width: 80px;
    display: flex;
    align-self: center;
    justify-content: center;
  }
}
